<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoteShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D276420C1F82A95E009A9209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D27642231F82A95F009A9209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D276422E1F82A95F009A9209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
